{% extends "base.html" %}
{% block title %}Технологии{% endblock %}


{% block content %}
<div class="row">
  <a href="http://127.0.0.1:8000/about/author/">Читать об авторе</a>
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        CSS
      </li>
      <li class="list-group-item">
        HTML
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <h1>Грусть Боль и Технологии</h1>
    <h3>О YaTube проекте</h3>
      <p> Спринт 4 подарил много эмоций и показал, что голову придется поднапречь(хотя это было понятно начиная с первого спринта). 
        Открываешь новую тему - непонимание. Смотришь обучающее видео, читаешь теорию - сталкиваешься с непониманием другого, ищешь пути понять и это. 
        И так по кругу. Можно сказать "Замыкания в Python", потому - что одно связано с другим.
      </p>  
      <p>В данном спринте начали работу с Django. Собственно результат работы, это то, что вы сейчас можете это читать.
        Задача была сделать проект Yatube.
      </p>
      <p>В процессе работы, были созданы приложения внутри проекта. Они разные. Один отвечает за сообщества, другой за пользователя,
         и даже служебное! Каждый отвечает за свое.
      </p>
           Настроили urls.py общий и для каждого приложение. Задали каждому пути свое имя а так же простанство имен.
          Создали вью функции, которые будут обрабатывать запросы пользователей.
      </p>
      <p> 
          Естественно создали модели, с ними можно работать по системе CRUD. 
          Оказалось, что в Django есть предустановленная модель Users. (такая вот умная штука этот ваш Джанго) 
          Создали форму и создали собственную валидацию в тренажёре. 
      </p>
      <p> 
          Поработали с HTML шаблонами, разбили их на верхнюю часть, нижнюю, сделали основу, на которой можно создавть остальные страницы. Вставляли картинки,
         добавляли стили, добавляли фильтры шаблонов и даже создали собственный.
      </p>
      <p> Сложности возникли с декораторами, ушло наверное дня 2 - 3. При том полноценных полных дня. Проблема появилась, когда
        на одну функцию оказалось по два декоратора. Уложить в голове, как выполняются функции и главное в каком порядке идет этот процесс, было тяжело. 
        Но разобрался. Сразу после этого пошла валидация. Вроде понимание есть, но пока далеко от совершенства. Главное первый рывок есть.
      </p>
      <p> Посмотрел обновленный раздел про SQL. Когда при работе в Python Shell, можно было смотреть как в SQL выглядил бы запрос, который сделал Django,
         стало понятно, что по SQL большие пробелы 
      </p>
      <p>  Пропустил необязательно задание. Незнаю на сколько оно правда необязательное, ведь пока не дошел до конца, но надеемся, что это правда так, 
        ведь и так оказалcя в когорте отстающих. Будем надеется, что руки дойдут доделать.
     </p>
     <p> 
      Как то так проходит мой 4 спринт. Перечитываешь, вроде описал не все, а познакомились со многим. А сколько еще впереди. Изучать и изучать. 
     </p>
     <p> 
      В общем, готовимся в худшему, а верим в лучшее!
     </p>
  </article>
</div>
{% endblock %} 